$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "template.scss";

$ccc: (
  accent: #0fbfdd,
  main: #45a0b0,
  lightColor: white,
  darkColor: white,
  textColor: #333,
  accentLight: #0fbfdd,
  accentDark: white,
  headerHeight: 5em,
  navButtonPad: 1.5em,
  imagePad: 0
);

$xceleration: (
  accent: #c3d057,
  main: #acb93e,
  lightColor: white,
  darkColor: white,
  textColor: #333,
  accentLight: #acb93e,
  accentDark: white,
  headerHeight: 4em,
  navButtonPad: 1em,
  imagePad: 3em
);

$digitus: (
  accent: #0072c1,
  main: #005691,
  lightColor: white,
  darkColor: white,
  textColor: #333,
  accentLight: #0072c1,
  accentDark: white,
  headerHeight: 6em,
  navButtonPad: 2em,
  imagePad: 0
);

$castleford: (
  accent: #EEA626,
  main: #0e704c,
  lightColor: white,
  darkColor: black,
  textColor: #DDD,
  accentLight: white,
  accentDark: black,
  headerHeight: 4.5em,
  navButtonPad: 1.7em,
  imagePad: 0
);

$brightclaim: (
  accent: #FFC424,
  main: #F15C22,
  lightColor: white,
  darkColor: white,
  textColor: #333,
  accentLight: white,
  accentDark: #0065A4,
  headerHeight: 6em,
  navButtonPad: 2.2em,
  imagePad: 0,
  fontFam: 'Rosario' sans-serif
);


#castleford{
  @include LoadStyle($castleford);
}

#ccc{
  @include LoadStyle($ccc);
}

#xceleration{
  @include LoadStyle($xceleration);
}

#digitus{
  @include LoadStyle($digitus);
}

#brightclaim {
  @include LoadStyle($brightclaim);
}